<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(https://149512919.v2.pressablecdn.com/wp-content/uploads/2021/12/philly-movies-hero-banner.jpg);">
  <div class="container">
  <h1>Turn your movie chaos into <strong>cinematic order</strong>!</h1>
  <p>Stop scrolling endlessly. Save, organize, and revisit your favorite films</p>
  <p><i>— because Netflix can’t remember everything for you.</i></p>
  </div>
</div>



    <div class="row mx-3">
      <% @lists.each do |list| %>
          <div class="col-md-4 mb-4"> <!-- Bootstrap grid for 3 columns on medium screens -->
            <div class="card h-100 border-0" style="overflow: hidden; background-color: #121212;" > <!-- Use h-100 to ensure cards take full height -->
              <%= link_to list do %>
                <div class="card-category image" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? cl_image_path(list.photo.key) :asset_path(list.image_url) %>')">
                  <%= list.name %>
                </div>
              <% end %>
                <%= link_to "Show this list", list, class: "btn btn-primary", style: "z-index: 1;" %>
              </div>
            </div>
      <% end %>
      </div>
