.content{
  transition: 0.5s;
}

.content-p {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.8s;
  color: #000;
  text-align: center;
} 

.content:hover{
  box-shadow: 0 0 0 200px #F4F4F4 inset;
}



.content:hover .content-p{
  opacity: 1;
  transform: scale(1);
}
